* {
  box-sizing: border-box;
}
.right {
	float:right;
}	
.left {
	float:left;
}
body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.pointer { cursor: pointer;}

a.home:link {
  text-decoration: none;
  color:black;}
a.home:visited {
  text-decoration: color: black;}
a.home:hover {
  text-decoration: underline;}
a.home:active {
  text-decoration: underline;}
a.porfolio:link {
	text-decoration: none;
	color:black;}
a.porfolio:visited {
	text-decoration: color: red;}
a.porfolio:hover {
	text-decoration: underline;}
a.porfolio:active {
	text-decoration: underline;}
a.harriet:link {
	text-decoration: none;
	color:black;}
a.harriet:visited {
	text-decoration: color: red;}
a.harriet:hover {
	text-decoration: underline;}
a.harriet:active {
	text-decoration: underline;}
a.resume:link {
	text-decoration: none;
	color:black;}
a.resume:visited {
	text-decoration: color:red;}
a.resume:hover {
	text-decoration: underline;}
a.resume:active {
	text-decoration: underline;}