/*WEBSITE CSS - #1 CSS*/
* {
  box-sizing: border-box;
}

.right {
	float:right;
}	
.left {
	float:left;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/*CENTERS WEBSITE*/
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/*COLUMN PADDING*/
.row,
.row > .column {
  padding: 8px;
}

/*create four equal columns that floats next to each other*/
.column {
  float: left;
  width: 25%;
}

/* clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*CONTENT DIV*/
.content {
  background-color: #ffffff;
  padding: 10px;
  border: 5px solid pink;
}

/*RESPONSIVE LAYOUT*/

/*makes a two column-layout instead of four columns*/
@media screen and (max-width: 900px) {
  .column {
    width: 50%;  
}

}
/*makes the two columns stack on top of each other instead of next to each other*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*MOUSE TYPE*/
.pointer { cursor: pointer;}

/*TITLE "CHYNA" TEXT FONT FOR INDEX.HTML*/
h1 {
	font-size:6vw;
	font-family: Georgia, serif;
}

.typer-trick {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 49ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
a.gohome:link {
  text-decoration: none;
  color:black;}
a.gohome:visited {
  color: black;}
a.gohome:hover {
  color: pink;}
a.gohome:active {
  text-decoration: none;}
  
@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*TITLE #2 FOE HOMEPAGE.HTML LINK*/
a.title2 {
	font-family: Georgia, serif;
	font-size:6vw;}

/*HR STYLING FOR MOM*/
hr {
	border:1px;
	border-top: solid pink;
}

/*MENU ICONS*/
img.icon{
	width:100%;
}

/*HOME PAGE LINK*/
a.home:link {
  text-decoration: none;
  color:black;}
a.home:visited {
  color: black;}
a.home:hover {
  text-decoration: underline;}
a.home:active {
  text-decoration: underline;}

/*LABEL LINKS*/
a.label {
	font-family: "Times New Roman", Times, serif;
}
a.label:link {
  text-decoration: none;
  color:black;}
a.label:visited {
  color: black;}
a.label:hover {
  text-decoration: underline;}
a.label:active {
  text-decoration: underline;}

/*ADDITIONAL INFO LINK*/ 
a.link:link {
  text-decoration: none;
  color: blue;}
a.link:visited {
  color: blue;}
a.link:hover {
  text-decoration: underline;}
a.link:active {
  text-decoration: underline;}
  
/*MENU CSS */
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: pink;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
	  list-style-type:none;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1em;
}


.menu-pane li:first-child {
  font-size: 1.3em;
  margin-left: -10px;
}

/*DEFAULT MENU WORD COLOR*/
.menu-links li a {
  color: white;
  text-decoration: none;
}

/*HOVERING OVER PAGE LINKS*/
.menu-links li:hover a {
  color: black;
}

/*HOVERING OVER HOME PAGE LINKS*/
.menu-links li:first-child:hover a {
  color: black;  
  background-color: white;
}

#web-links {
  background-color: #FFAB91;
    border: 2px solid;
  border-color: white;
display: block;
  opacity: 0;
}

.menu-links li:first-child:hover #web-links{
opacity: 1;
}

.menu-links li:first-child a {
  padding: 5px;
}

input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}
